
*/*/config.old
*/*/rootfs_config.old
build/
images/linux/*

!images/linux/boot.scr
!images/linux/BOOT.BIN
!images/linux/image.ub

pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
components/plnx_workspace
components/yocto
